[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROCsurvcomp"]
	path = ROCsurvcomp
	url = https://github.com/mmrahman13/rocsurvcomp
